@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap");
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}

.show {
  display: none !important;
}

.ticket-group {
  display: none;
}

.menu {
  display: none;
}

.section-title {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  -webkit-text-decoration-color: #ec5242;
          text-decoration-color: #ec5242;
  text-align: center;
}

.main-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272a31;
  color: #d3d3d3;
  padding: 40px;
}

.main-program h2 {
  margin-top: -40px;
  text-align: center;
}

.main-program .grid {
  width: 75%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.main-program .grid .card {
  padding: 20px 40px;
  border: 1px solid #ccc;
  text-align: center;
}

.main-program .grid .card i {
  font-size: 32px;
}

.main-program .grid .card .title {
  color: #ec5242;
  font-weight: bold;
}

.main-program .grid .card:hover {
  background-color: #fff;
  color: #272a31;
}

.main-program a {
  padding-top: 40px;
  font-size: 20px;
  text-decoration: underline;
  color: inherit;
  text-transform: uppercase;
}

.main-program a:hover {
  color: #ec5242;
}

table {
  margin-top: 20px;
  margin-left: -100px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table td,
table th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

table tr:nth-child(1) {
  background-color: #d3d3d3;
}

table tr > td {
  white-space: nowrap;
  padding: 10px 30px;
}

table tr > td p {
  font-size: 18px !important;
  color: #ec5242;
}

.past-events {
  padding: 40px;
}

.past-events p {
  text-align: center;
  font-size: 18px;
}

.past-events .event-carousel {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.past-events .event-carousel a {
  padding: 100px 50px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec5342a1), to(#ec5342ea)), url(../images/conference1.jpeg) center center;
  background: linear-gradient(#ec5342a1, #ec5342ea), url(../images/conference1.jpeg) center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  text-align: center;
}

.past-events .event-carousel a .year {
  font-size: 22px;
}

.landing-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.9))), url(../images/background.jpg) center center;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)), url(../images/background.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .contact {
  font-size: 20px;
}

.landing-page .contact a {
  text-decoration: underline;
  color: #272a31;
}

.landing-page .contact a:hover {
  color: #ec5242;
}

.landing-page .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
}

.landing-page .navbar h4 {
  font-family: "Playfair Display", serif;
  color: #ec5242;
  font-size: 22px;
  padding-left: 30px;
}

.landing-page .navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  padding: 0 20px;
}

.landing-page .navbar .navlinks .navlink {
  padding: 5px 0;
}

.landing-page .navbar .navlinks .navlink a {
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #272a31;
  font-weight: bold;
}

.landing-page .navbar .navlinks .navlink a:hover {
  color: #ec5242;
  font-weight: bold;
}

.landing-page .navbar .navlinks .active {
  border: 1px solid #272a31;
}

.landing-page .landing-page-text {
  width: 50%;
  text-align: justify;
  line-height: 1.7;
}

.landing-page .landing-page-text h1 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.landing-page .about-text {
  border: 1px solid #272a31;
  background-color: #fff;
  padding: 20px 40px;
}

.featured-speakers {
  padding: 20px;
  background-color: #d3d3d3;
}

.featured-speakers .speaker-grid {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.featured-speakers .speaker-grid .speaker-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 10px;
}

.featured-speakers .speaker-grid .speaker-card img {
  height: 200px;
  margin: 10px;
}

.featured-speakers .speaker-grid .speaker-card .speaker-info {
  margin: 0;
  padding: 0;
}

.featured-speakers .speaker-grid .speaker-card .speaker-info h5,
.featured-speakers .speaker-grid .speaker-card .speaker-info p {
  margin: 0;
  padding: 0;
}

.featured-speakers .speaker-grid .speaker-card .speaker-info h5 {
  padding: 10px 0;
  font-size: 16px;
}

.featured-speakers .speaker-grid .speaker-card .speaker-info p:nth-child(even) {
  color: #ec5242;
  font-weight: bold;
  padding: 5px 0;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #272a31;
  border-radius: 60px;
  margin-top: 20px;
}

.inline li {
  color: #ec5242;
  text-transform: uppercase;
}

.lunch-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 30px auto;
  border: 1px solid #ccc;
}

.lunch-option .lunch-title {
  background-color: #d3d3d3;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 10px;
  margin: 0;
}

.meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meals .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smaller {
  font-size: 32px !important;
}

.sponsors {
  background-color: #272a31;
  height: 40vh;
  padding: 20px;
}

.sponsors h2 {
  color: #d3d3d3;
}

.sponsors .program-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.home-footer {
  background-color: #d3d3d3;
  padding: 20px;
}

.home-footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-footer .footer-items h1 {
  font-family: "Playfair Display", serif;
}

.home-footer .footer-items .copyright {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  background-color: #272a31;
  color: #d3d3d3;
  padding: 30px;
}

.about-us {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
  -webkit-box-shadow: 0 0 2px 0 #272a31;
          box-shadow: 0 0 2px 0 #272a31;
}

.about-us .inline {
  width: 50%;
}

.about-us .content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  line-height: 1.8;
  font-size: 18px;
}

.about-us .content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
  padding: 15px 10px;
  border: 1px solid #272a31;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 765px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative !important;
    top: 0;
    width: 100%;
    height: 10vh !important;
    background-color: #fff;
    white-space: nowrap;
    margin-bottom: 30px;
    padding: 5px;
  }
  .navbar .menu {
    color: #000;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    display: inline-block;
  }
  .navbar h4 {
    font-family: "Playfair Display", serif;
    color: #ec5242;
    font-size: 22px;
    padding-left: 30px;
  }
  .navbar .navlinks {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 70px;
    text-align: center;
  }
  .navbar .navlinks .navlink {
    padding: 5px 0;
    display: block;
  }
  .navbar .navlinks .navlink a {
    padding: 10px 20px;
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: #272a31;
    font-weight: bold;
  }
  .navbar .navlinks .navlink a:hover {
    color: #ec5242;
    font-weight: bold;
  }
  .navbar .navlinks .active {
    border: 1px solid #272a31;
  }
  .sponsors {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .program-sponsors {
    display: -ms-grid !important;
    display: grid !important;
    row-gap: 20px;
  }
  .featured-speakers,
  .speaker-grid,
  .content,
  .event-carousel {
    width: 100% !important;
    padding: 20px 0;
  }
  .main-program,
  .featured-speakers {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-program .grid,
  .main-program .speaker-grid,
  .featured-speakers .grid,
  .featured-speakers .speaker-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main-program .grid .card,
  .main-program .speaker-grid .card,
  .featured-speakers .grid .card,
  .featured-speakers .speaker-grid .card {
    margin: 10px 0;
  }
  .speaker-card {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .speaker-card .jake {
    width: 150px;
  }
  .speaker-card img {
    height: 150px !important;
    margin: 0;
  }
  .footer-items {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .landing-page {
    height: 100vh !important;
  }
  .ticket-sale {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
  .ticket-sale table {
    width: 100% !important;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
  }
  .ticket-sale table td,
  .ticket-sale table th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
  }
  .ticket-sale table tr:nth-child(1) {
    background-color: #d3d3d3;
  }
  .ticket-sale table tr > td {
    white-space: nowrap;
    padding: 10px;
  }
  .ticket-sale table tr > td p {
    font-size: 18px !important;
    color: #ec5242;
  }
  .ticket-sale .ticket-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ticket-sale .ticket-group table {
    width: 80% !important;
    margin: 20px auto;
  }
  .landing-page-text {
    width: 100% !important;
    text-align: justify;
    line-height: 1.7;
  }
  .landing-page-text p:nth-child(1) {
    font-size: 64px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .event-carousel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .ticket-table {
    display: none;
  }
  .meal-plan {
    padding: 10px 0;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative !important;
    top: 0;
    width: 100%;
    height: 20vh !important;
    background-color: #fff;
    white-space: nowrap;
    margin-bottom: 30px;
    padding: 5px;
  }
  .navbar .menu {
    color: #000;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    display: inline-block;
  }
  .navbar h4 {
    font-family: "Playfair Display", serif;
    color: #ec5242;
    font-size: 22px;
    padding-left: 30px;
  }
  .navbar .navlinks {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 70px;
    text-align: center;
  }
  .navbar .navlinks .navlink {
    padding: 5px 0;
    display: block;
  }
  .navbar .navlinks .navlink a {
    padding: 10px 20px;
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: #272a31;
    font-weight: bold;
  }
  .navbar .navlinks .navlink a:hover {
    color: #ec5242;
    font-weight: bold;
  }
  .navbar .navlinks .active {
    border: 1px solid #272a31;
  }
  .sponsors {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .program-sponsors {
    display: -ms-grid !important;
    display: grid !important;
    row-gap: 20px;
  }
  .featured-speakers,
  .speaker-grid,
  .content,
  .event-carousel {
    width: 100% !important;
    padding: 20px 0;
  }
  .main-program,
  .featured-speakers {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-program .grid,
  .main-program .speaker-grid,
  .featured-speakers .grid,
  .featured-speakers .speaker-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main-program .grid .card,
  .main-program .speaker-grid .card,
  .featured-speakers .grid .card,
  .featured-speakers .speaker-grid .card {
    margin: 10px 0;
  }
  .speaker-card {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .speaker-card .jake {
    width: 150px;
  }
  .speaker-card img {
    height: 150px !important;
    margin: 0;
  }
  .footer-items {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .landing-page {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .ticket-sale {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
  .ticket-sale table {
    width: 600px !important;
    margin-left: 50px;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
  }
  .ticket-sale table td,
  .ticket-sale table th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
  }
  .ticket-sale table tr:nth-child(1) {
    background-color: #d3d3d3;
  }
  .ticket-sale table tr > td {
    white-space: nowrap;
    padding: 10px;
  }
  .ticket-sale table tr > td p {
    font-size: 18px !important;
    color: #ec5242;
  }
  .landing-page-text {
    width: 60% !important;
    text-align: justify;
    line-height: 1.7;
  }
  .landing-page-text p:nth-child(1) {
    font-size: 64px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .event-carousel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .ticket-group {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */