@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap");
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}

.section-title {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  -webkit-text-decoration-color: #ec5242;
          text-decoration-color: #ec5242;
  text-align: center;
}

.main-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272a31;
  color: #d3d3d3;
  padding: 40px;
}

.main-program h2 {
  margin-top: -40px;
  text-align: center;
}

.main-program .grid {
  width: 75%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.main-program .grid .card {
  padding: 20px 40px;
  border: 1px solid #ccc;
  text-align: center;
}

.main-program .grid .card i {
  font-size: 32px;
}

.main-program .grid .card .title {
  color: #ec5242;
  font-weight: bold;
}

.main-program .grid .card:hover {
  background-color: #fff;
  color: #272a31;
}

.main-program a {
  padding-top: 40px;
  font-size: 20px;
  text-decoration: underline;
  color: inherit;
  text-transform: uppercase;
}

.main-program a:hover {
  color: #ec5242;
}

table {
  margin-top: 20px;
  margin-left: -100px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-image-slice: 0 12 0 12;
  border-image-width: 0 12px 0 12px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: repeat repeat;
  border-image-source: url("https://mdn.mozillademos.org/files/6015/border-image-5.png");
}

table td,
table th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

table tr:nth-child(1) {
  background-color: #d3d3d3;
}

table tr > td {
  white-space: nowrap;
  padding: 10px 30px;
}

table tr > td p {
  font-size: 18px !important;
  color: #ec5242;
}

.past-events {
  padding: 40px;
}

.past-events p {
  text-align: center;
  font-size: 18px;
}

.past-events .event-carousel {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.past-events .event-carousel a {
  padding: 100px 50px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #ec5242;
  margin: 5px;
  text-align: center;
}

.past-events .event-carousel a .year {
  font-size: 22px;
}

.landing-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.9))), url(../images/background.jpg) center center;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)), url(../images/background.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .contact {
  font-size: 20px;
}

.landing-page .contact a {
  text-decoration: underline;
  color: #272a31;
}

.landing-page .contact a:hover {
  color: #ec5242;
}

.landing-page .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
}

.landing-page .navbar h4 {
  font-family: "Playfair Display", serif;
  color: #ec5242;
  font-size: 22px;
  padding-left: 30px;
}

.landing-page .navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.landing-page .navbar .navlinks .navlink {
  padding: 5px 0;
}

.landing-page .navbar .navlinks .navlink a {
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #272a31;
  font-weight: bold;
}

.landing-page .navbar .navlinks .navlink a:hover {
  color: #ec5242;
  font-weight: bold;
}

.landing-page .navbar .navlinks .active {
  border: 1px solid #272a31;
}

.landing-page .landing-page-text {
  width: 50%;
  text-align: justify;
  line-height: 1.7;
}

.landing-page .landing-page-text p:nth-child(1) {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.landing-page .about-text {
  border: 1px solid #272a31;
  background-color: #fff;
  padding: 20px 40px;
}

.featured-speakers {
  padding: 20px;
  background-color: #d3d3d3;
}

.featured-speakers .speaker-grid {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #272a31;
  border-radius: 60px;
  margin-top: 20px;
}

.inline li {
  color: #ec5242;
  text-transform: uppercase;
}

.lunch-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 30px auto;
  border: 1px solid #ccc;
}

.lunch-option .lunch-title {
  background-color: #d3d3d3;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 10px;
  margin: 0;
}

.meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meals .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smaller {
  font-size: 32px !important;
}

.sponsors {
  background-color: #272a31;
  height: 40vh;
  padding: 20px;
}

.sponsors h2 {
  color: #d3d3d3;
}

.sponsors .program-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.home-footer {
  background-color: #d3d3d3;
  padding: 20px;
}

.home-footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-footer .footer-items h1 {
  font-family: "Playfair Display", serif;
}

.home-footer .footer-items .copyright {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  background-color: #272a31;
  color: #d3d3d3;
  padding: 30px;
}

.about-us {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
  -webkit-box-shadow: 0 0 2px 0 #272a31;
          box-shadow: 0 0 2px 0 #272a31;
}

.about-us .inline {
  width: 50%;
}

.about-us .content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  line-height: 1.8;
  font-size: 18px;
}

.about-us .content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
  padding: 15px 10px;
  border: 1px solid #272a31;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */