@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap");
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}

.section-title {
  font-family: "Playfair Display", serif;
  text-decoration: underline;
  -webkit-text-decoration-color: #ec5242;
          text-decoration-color: #ec5242;
  text-align: center;
}

.main-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272a31;
  color: #d3d3d3;
  padding: 40px;
}

.main-program h2 {
  margin-top: -40px;
  text-align: center;
}

.main-program .grid {
  width: 75%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.main-program a {
  padding-top: 40px;
  font-size: 20px;
  text-decoration: underline;
  color: inherit;
  text-transform: uppercase;
}

.landing-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../images/background.jpg) center center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/background.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5vh;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.landing-page .navbar h4 {
  font-family: "Playfair Display", serif;
  color: #ec5242;
  font-size: 22px;
}

.landing-page .navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.landing-page .navbar .navlinks .navlink {
  padding: 5px 0;
}

.landing-page .navbar .navlinks .navlink a {
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #272a31;
  font-weight: bold;
}

.landing-page .navbar .navlinks .navlink a:hover {
  text-decoration: underline;
}

.landing-page .navbar .navlinks .active {
  border: 1px solid #272a31;
}

.landing-page .landing-page-text {
  width: 50%;
  text-align: justify;
  line-height: 1.7;
}

.landing-page .landing-page-text p:nth-child(1) {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.featured-speakers {
  padding: 20px;
  background-color: #d3d3d3;
}

.featured-speakers .speaker-grid {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.sponsors {
  background-color: #272a31;
  height: 40vh;
  padding: 20px;
}

.sponsors h2 {
  color: #d3d3d3;
}

.sponsors .program-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.home-footer {
  background-color: #d3d3d3;
}

.home-footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */